<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>top-level-items</key>
	<array>
		<dict>
			<key>destination</key>
			<dict>
				<key>location-parameters</key>
				<dict>
					<key>EndingColumnNumber</key>
					<string>0</string>
					<key>EndingLineNumber</key>
					<string>86</string>
					<key>StartingColumnNumber</key>
					<string>0</string>
					<key>StartingLineNumber</key>
					<string>85</string>
					<key>Timestamp</key>
					<string>789586692.550391</string>
				</dict>
				<key>rebasable-url</key>
				<dict>
					<key>base</key>
					<string>workspace</string>
					<key>payload</key>
					<dict>
						<key>relative-path</key>
						<string>RadiusAlert/UI/Map/Views/Map Overlays/Bottom Trailing Buttons/Animated Map Bottom Trailing Button/AddPinOrAddMultipleStopsMapBottomTrailingButtonView.swift</string>
					</dict>
				</dict>
			</dict>
			<key>text-context</key>
			<dict>
				<key>focused</key>
				<string>#if DEBUG
</string>
				<key>leading</key>
				<string>            
        case .addMultipleStops:
</string>
				<key>trailing</key>
				<string>//            Task {
//                guard
//                    let currentUserLocation = locationManager.markerCoordinate,
</string>
			</dict>
			<key>title</key>
			<string>remove the body after debug</string>
			<key>type</key>
			<string>bookmark</string>
		</dict>
		<dict>
			<key>destination</key>
			<dict>
				<key>location-parameters</key>
				<dict>
					<key>EndingColumnNumber</key>
					<string>72</string>
					<key>EndingLineNumber</key>
					<string>190</string>
					<key>StartingColumnNumber</key>
					<string>72</string>
					<key>StartingLineNumber</key>
					<string>190</string>
					<key>Timestamp</key>
					<string>790154234.701233</string>
				</dict>
				<key>rebasable-url</key>
				<dict>
					<key>base</key>
					<string>workspace</string>
					<key>payload</key>
					<dict>
						<key>relative-path</key>
						<string>RadiusAlert/UI/Map/View Models/Map Location Search/MapLocationSearch.swift</string>
					</dict>
				</dict>
			</dict>
			<key>text-context</key>
			<dict>
				<key>focused</key>
				<string></string>
				<key>leading</key>
				<string>    ///
    /// - Parameter mapItem: The item whose coordinate should be centered and bounded.
    private func prepareMapPositionNRegion(_ mapItem: MKMapItem) async {</string>
				<key>trailing</key>
				<string>
        // 1) Allow state updates to propagate before moving the map.
        try? await Task.sleep(nanoseconds: 500_000_000) // 0.5s
</string>
			</dict>
			<key>title</key>
			<string>There's a problem with the sequence nd timing, too smooth everything we have to wait for the animations to end before executing the next block of code. SO avoid hard coding animation delays using Task.sleep</string>
			<key>type</key>
			<string>bookmark</string>
		</dict>
		<dict>
			<key>destination</key>
			<dict>
				<key>location-parameters</key>
				<dict>
					<key>EndingColumnNumber</key>
					<string>25</string>
					<key>EndingLineNumber</key>
					<string>87</string>
					<key>StartingColumnNumber</key>
					<string>25</string>
					<key>StartingLineNumber</key>
					<string>87</string>
					<key>Timestamp</key>
					<string>790447686.215499</string>
				</dict>
				<key>rebasable-url</key>
				<dict>
					<key>base</key>
					<string>workspace</string>
					<key>payload</key>
					<dict>
						<key>relative-path</key>
						<string>RadiusAlert/UI/Map/View Models/Map Location Search/MapLocationSearch.swift</string>
					</dict>
				</dict>
			</dict>
			<key>text-context</key>
			<dict>
				<key>focused</key>
				<string></string>
				<key>leading</key>
				<string>        resetSearchable()
        
        setSelectedRadius</string>
				<key>trailing</key>
				<string>(item.radius)
        
        let mkMapItem: MKMapItem = .init(placemark: .init(coordinate: item.coordinate))
</string>
			</dict>
			<key>type</key>
			<string>bookmark</string>
		</dict>
	</array>
</dict>
</plist>
